Package: titun
Architecture: amd64
Maintainer: Guanhao Yin <sopium@mysterious.site>
Depends: libc6 (>= 2.23)
Priority: optional
License: GPL-3
Version: 0.1.0-dev
Description: Simple and fast, WireGuard compatible IP tunnel written in Rust
